#Managed by CFEngine
# /etc/my.cnf
[client]
port=3306
socket=/var/lib/mysql/mysql.sock

[mysql]
default-character-set	= utf8
loose-max_allowed_packet = 1G

[mysqld]
#use UTF8
default-character-set	= utf8
collation_server	= utf8_unicode_ci
character_set_server	= utf8
init_connect = 'SET NAMES utf8'
max_allowed_packet = 1G
default-storage-engine = INNODB

#must be unique for replication
server-id=$(mysql.mysql_serverid)
innodb_buffer_pool_size = $(mysql.mysql_innodb_buffer_pool_size)
$(mysql.mysql_binlog)
$(mysql.mysql_binlog_format)
expire_logs_days = 3
